/*FIELDS*/
input[type=text],
input[type=password],
select
{
  height: 30px;
  border-color: #DDDDDD;
  border-style: solid;
  border-radius: 5px;
}
img
{
  image-rendering: -mox-crisp-edges;
  -ms-interpolation-mode: bicubic;
}

/*LOGIN VIEW*/
body
{
	background: none repeat scroll 0% 0% #0C4698;
}
#login_container
{
	background-color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto !important;
	height: auto !important;
	margin-top: -166px;
	margin-left: -265px;
	border-style: solid;
	border-radius: 10px;
	border-width: 5px;
	border-color: #B3A24B;
  padding: 10px;
}

/*HEADER LINKS - NAVIGATION*/
nav
{
  /*background-color: #f2f2f2;*/
  background-color: #2980B9;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
nav ul
{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}
nav li
{
  float: left;
  margin: 0 auto;
  display: inline-block;
  z-index: -1;
}
nav ul li a
{
  display: inline-block;
  padding: 16px 25px;
  text-decoration: none;
  color: #FFFFFF;
  /*border-right: 1px solid #ccc;*/
  white-space: nowrap;
}
#logo_header span
{
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 10px 15px 0px;
}
#logo_header img
{
  width: 50px;
  height: auto;
  display: inline-block;
  margin: 1px 10px -1px;
  image-rendering: -mox-crisp-edges;
  -ms-interpolation-mode: bicubic;
}
.navbar-brand
{
 /* border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;*/
  display: inline-block;
  color: #FFFFFF;
}
.navbar-brand b
{
  word-spacing: -13px;
}
/*nav li:first-child
{
  border-left: 1px solid #ccc;
}*/
nav li a:hover
{
  color: #C00;
  background-color: #FFFFFF;
  border-color: #B3A24B;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  margin: -3px;
}
nav ul li a.active
{
  color: #C00000;
  background-color: #FFFFFF;
  border-color: #B3A24B;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  margin: -3px;
}

/*RECORD HEADER LINKS*/
nav#records_links_nav
{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  background-color: #3498DB;
  text-align: center;
/*  border-bottom: 1px solid #ccc;*/
}
nav#records_links_nav ul#records_links_ul li.records_links_li a.records_links
{
  color: #34495E;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  /*border-right: 1px solid #ccc;*/
}

/*TABLE LAYOUTS*/
.table_scroll
{
  width: 100%;
  max-height: 600px;
  overflow: auto;
}
.half_width
{
  width: 50%;
}

/*BENEFITS*/
#benefit_others_tbl
{
  width: 100%;
}

/*AVAILMENTS NEW CSS*/
.main-bg
{
  background-color: #EEEEEE;
}
.profile_container
{
  background-color: #FFFFFF;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
.profile_table
{
  width: 100;
  table-layout:fixed;
}
.profile_table tr
{
  border: solid 1px #E0E0E0;
}
.table_list
{
  background-color: #FFFFFF;
  margin: 10px;
  padding: 10px;
}
.btn
{
  margin-left: 10px;
}
.profile_name
{
  font-size: x-large;
  font-style: bold;
}
.single_line
{
  display: inline-block;
}